:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --dkClr: #181818;
  --liClr: whitesmoke;
  --accClr: #0d0d35;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dkClr);
  color: var(--liClr);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

main {
  flex: 1;
  display: flex;
}

#gameCanvas {
  border: 1px solid gold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 1;
}

@font-face{
  font-family: Calibri;
  src: url('public/assets/fonts/calibri.ttf');
  font-weight: 400;
  font-style: normal;
}


@font-face{
  font-family: Jokerman;
  src: url('public/assets/fonts/JOKERMAN.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: Wingdings;
  src: url('public/assets/fonts/wingding.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: Soup;
  src: url('public/assets/fonts/Souprunny-1GKe.ttf');
  font-weight: 400;
  font-style: normal;
}
